<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Usuario</title>
    <link rel="stylesheet" href="/CSS/style4.css">
    <link rel="icon" href="/IMG/petcare.png">
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1><img src="/IMG/user.png" alt="Cadastrar_Usuario">Cadastre-se</h1>
                        <br>
                        <hr>
                        <br>

                <div class="input-group">
                    <div class="input-box">
                        <label for="lastname">id</label>
                        <input id="lastname" type="number" name="lastname" placeholder="Digite seu Idstri" required>
                    </div>
 <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>
                    <div class="input-box">
                        <label for="firstname">Nome</label>
                        <input id="firstname" type="text" name="firstname" placeholder="Digite seu nome" required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">Data de Nascimento</label>
                        <input id="lastname" type="date" name="lastname" placeholder="Digite sua data de Nascimento" required>
                    </div>

                   

                    <div class="input-box">
                        <label for="number">Telefone</label>
                        <input id="number" type="tel" name="number" placeholder="(xx) xxxx-xxxx" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Endereço</label>
                        <input id="password" type="text" name="password" placeholder="Digite sua endereço" required>
                    </div>


                    <div class="input-box">
                        <label for="confirmPassword">Complemento</label>
                        <input id="confirmPassword" type="text" name="confirmPassword" placeholder="Digite o complemento" required>
                    </div>

                    <div class="input-box">
                        <label for="confirmPassword">Cidade</label>
                        <input id="confirmPassword" type="text" name="text" placeholder="Digite sua cidade" required>
                    </div>

                    <div class="input-box">
                        <label for="confirmPassword">CEP</label>
                        <input id="confirmPassword" type="text" name="text" placeholder="Digite o CEP" required>
                    </div>

                    <div class="input-box">
                        <label for="confirmPassword">UF</label>
                        <input id="confirmPassword" type="text" name="text" placeholder="Digite seu estado" required>
                    </div>
                    
                    <br>
                    <br>
                    <div class="continue-button">
                        <button><a href="home.html">Continuar</a> </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</body>
</html>